.game-board {
	position: relative;
	width: 65vh;
	height: 40vh; /* Adjust as needed */
	background-color: black; /* Set the background color */
	border: 2px solid black; /* Add border styles */
  }

  .center-line {
	width: 5px;
	height: 100%;
	background-color: #fff;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
  }