
.gameWindow{
	width: 70%; /* Adjust width as needed */
	height: 50%; /* Adjust height as needed */
	background-color:gray; /* Background color */
	border: 2px solid #000; /* Border color and thickness */
	padding: 20%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Optional: Shadow effect */
  }