	<header>
        <div class="header bg-dark text-danger text-center p-3">
            <h1>Envie de crever</h1>
        </div>
    </header>
        <div class="content p-3 text-center">
            <p>C'est un debut de frontend desagreable pour tout le monde.</p>
        </div>
        <div class="container text-center">
          <div class="row">
            <div class="col-md-1">
              <button (click)="checkAge(18)" class="btn btn-primary">18 +</button>
            </div>
            <div class="col-md-3">
              <button (click)="checkAge(17)" class="btn btn-primary">Below 18</button>
            </div>
          </div>
        </div>
        <div class="result text-center">
          <p>{{ result }}</p>
        </div>
    <footer>
        <div class="footer bg-dark text-white text-center p-2">
            <p>On fait comme on peut meme si je risque de sauter du haut d'un pont.</p>
        </div>
    </footer>
