.ball { /* Adjust the width and height to create the desired circle size */ /* Adjust the width and height to create the desired circle size */
	background-color: yellow;
	border-radius: 50%; /* This creates the circular shape */
	position: absolute;
  	transform: translate(-50%, 50%);
	height: 2.5vh;
	width: 2.5vh;
  }